*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.body{
    background-color: rgb(56, 4, 4);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 9%;
    background: #790707;
    box-shadow: 1 2px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    color: aliceblue;
}
.logo{
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;

}
.cart-icon{
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
}
#cart-item .cart-item-count{
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #790707;
    border-radius: 50%;
    font-size: 12px;
    color: #ffffff;
    display:flex ;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.items{
    padding: 100px 9% 30px;
    display: grid;
    grid-template-columns: repeat(250px , 1fr);
}
.section-title{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    color: aliceblue;
background: rgba(214, 206, 206, 0.271);
}
.product-conut{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.img-box{
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    
}
.img-box img{
 width: 25%;
 transition: 0.5s;
 display: grid;
}
.img-box:hover img{
    transform: scale(1.1);
    display: grid;
}
.background{
position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: grid;
}
.product-title{
    color: aliceblue;
    display: grid;
}
.ri-shopping-cart-fill{
    color: #ffffff;
    display: grid;
}
.price{
    color: #ffffff;
    display: grid;
}