
.background-img{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.container-fluid{
  background: linear-gradient(135deg, #c45353 0%, #360101 100%);
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 8px 32px rgba(163, 151, 151, 0.5);
    border-bottom: 4px solid #585b5c;
    position:fixed;
    top: 0;
    z-index: 1; 
}
.img-container1{
   display:inline-block;
    gap: 1000px;
    padding: 10px;
    margin: 10px auto;
    max-width: 300px; 
    position: relative;
   
}
.image-container1 img {
    object-fit: cover;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.image-container1 img:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
}
.img-container2{
     display:inline-block;
    gap: 1000px;
    padding:10px;
    margin: 20px auto;
    max-width: 300px; 
    position: relative;
   
}
.image-container2 img {
   
    object-fit: cover;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.image-container2 img:hover {
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
}
.para{
  background-color: rgba(247, 129, 129, 0.5);
  color: rgb(16, 14, 11);
    box-shadow: 0 8px 32px rgba(163, 151, 151, 0.5);
    border-bottom: 4px solid #bfc5c8;
    top: 0;
    z-index: 1; 
}

.card-body{
  gap: 50%;
  background-color:rgba(99, 94, 94, 0.5);
}
.card-text{
  color: rgb(0, 0, 0);
}
.add{
  width: 10px;
}
.card{
  object-fit: cover;
    border-radius: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    margin: 200px;

}
.card img:hover{
    transform: scale(1.07);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.5);
}
.card-img-top{
  display: inline-block;
}